<h1>Listing Stores</h1>

<table>
	<tr>
		<th>Name</th>
	</tr>

<% @stores.each do |store| %>
	<tr>
		<td><%= store.name %></td>
		<td><%= link_to 'Show', store %></td>
		<% if user_signed_in? and (current_user.is_admin? or current_user.stores.include?(store)) %>
			<td><%= link_to 'Edit', edit_store_path(store) %></td>
			<% if current_user.is_admin? %>
				<td><%= link_to 'Delete', store, :method => :delete, :data => { :confirm => "Are you sure you\'d like to delete #{store.name}?" } %></td>
			<% end %>
		<% end %>
	</tr>
<% end %>
</table>

<br />

<%= link_to 'New Store', new_store_path %>
