  <% content_for :opengraph_tags do %>
    <meta property="og:title" content="<%= @store.name %>" />
    <meta property="og:site_name" content="TritonYelp" />
    <meta property="og:url" content="<%= store_url(@store) %>" />
    <meta property="og:image" content="<%= root_url.chomp('/') + @store.image.url(:banner) %>" />
    <meta property="og:description" content="<%= @store.description.truncate 140, :omission => "..." %>" />
<% end %>

<div class="store_content">
  <h2 align="center"><%= @store.name %></h2>
	
	<% if @store.image.exists? %>
		<center><%= image_tag @store.image.url(:banner), :class => "banner" %></center>
		<br />
	<% end %>
	
<!-- Begin twitter widget display -->
<% if @store.twitter_widget_id? %>

	 	<div id="right">
 			<a class="twitter-timeline" width="240" height="100" href=<%= "https://twitter.com/" + @store.twitter_user_name %> data-widget-id=<%= @store.twitter_widget_id %>></a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  		</div>
  		<%= @store.description %> 
  	
	<div class="clear"></div>

<% else %>
	<%= @store.description %> 
<% end %>
<!-- End twitter widget display -->

	<% if !@store.tags.empty? %>
		<div class="store_tags">Tags: <%= (@store.display_tags 12).html_safe %></div>
	<% else %>
		<br />
	<% end %>
	<!-- Begin Share Container -->
			<ul class="sharing">
				<li id="fb-button"><div class="fb-like share_icon" data-href="<%= store_url(@store) %>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-action="recommend"></div></li>
				<li id="reddit-button"><a href="http://www.reddit.com/submit?url=<%= store_url(@store) %>"><img class="share_icon" src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /></a></li>
				<li id="tweet-button"><a id="share_icon" href="http://twitter.com/share" data-url="<%= store_url(@store) %>" 
				<% if !@store.description.nil? %>data-text="<%= @store.description.truncate(120, :omission => "...") %><% end %>" class="twitter-share-button" data-hashtags="TritonYelp"data-lang="en">Tweet</a></li>
			</ul>
	<!-- End Share Container -->
	<br />
	<br />
</div>
	<!-- Begin Store Ratings Implementation -->
	<div class="average_rating" style="<% if @store.avg_rating == 0 %>display:none;<% end %>">
		Average rating: <div id="average_rating" style="display:inline;"><%= @store.avg_rating_str %>.</div>
		<br />
		<br />
	</div>
	
	<% if !(user_signed_in? and current_user.stores.include?(@store)) %>
		<% form_id = "store_#{@store.id}_rating" %>
		<% if user_signed_in? %>
			<% user_id = current_user.id %>
		<% else %>
			<% user_id = -1 %>
		<% end %>
		Your rating:
		<%= form_for @store.ratings.find_by(user_id: user_id) || @store.ratings.new, :html => {:id => form_id, :class => "star_rating_form"} do |f| %>
			<%= f.hidden_field :store_id, :value => @store.id %>
			<% if user_signed_in? %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
			<% end %>	
			<%= f.hidden_field :stars, :id => form_id + "_stars" %>
		<% end %>
		<% (1..5).each do |i| %>
			<li class="rating_star" id="<%= form_id %>_<%= i %>" data-stars="<%= i %>" data-form-id="<%= form_id %>"></li>
		<% end %>
		<br />
		<br />
	<% end %>
	<!-- End Store Ratings Implementation -->
	
	<% if user_signed_in? and current_user.stores.include?(@store) %>
		<%= link_to 'Edit', edit_store_path(@store) %>
	<% else %>
		<%= link_to 'Leave a Review', new_store_review_path(@store) %>
	<% end %>

 

	<% if !@store.reviews.empty? %>
		<br />
		<br />
		<b>Customer Feedback</b>
  		<% @store.reviews.sort{|review1, review2| review2.created_at.to_i <=> review1.created_at.to_i }.each do |review| %>
			<br />

			<br />

			<b> <%= review.user.name %> </b>

  			<br />

  			<%= review.content %>

  			<br /> 

  			<% 
				p = review.price
				if (p == 4)
			%>
  				Price range: <font color = #FCC919>$$$$</font>
  			<%	elsif (p == 3) %>
  				Price range: <font color = #FCC919>$$$</font>
  			<%	elsif (p == 2) %>
  				Price range: <font color = #FCC919>$$</font>
  			<%	else %>
  				Price range: <font color = #FCC919>$</font>
  			<% end %>	
  			<br />
  			<% up_count = review.uservotes.upcount(review.id) %>
			<% if up_count != 0 %>
				<span style="color: green">+<%= up_count %></span>
				<br />
			<% end %>

  			<% if user_signed_in? and (current_user.is_admin? or current_user.reviews.include?(review)) %> 
  				<br />
  				<%= link_to 'Edit', edit_store_review_path(@store, review) %> &middot;
        		<%= link_to 'Delete', review, :confirm => 'Remove this Review?', :method => :delete %>
        		<br />
  			<% end %> 

      		<% if user_signed_in? %>
				<br />
      			<%= button_to "This Review Was Helpful", { :controller => 'uservotes',
                          :action => 'upvote',
                          :pid => current_user.id,
                          :rid => review.id,
                          :sid => @store.id,
                          :method => 'create' } %>

      		<% end %>
				<% if !review.tags.empty? %>
  					<br />
					<small><i>Tags: <% review.tags.each do |tag| %>
  					<%= tag.name %>
  				<% end %></i></small>
			<% end %>
 		<% end %>
	<% end %>
<br />
<br />
<%= link_to 'Back', root_path %>

