  <h2><%= @store.name %></h2>
	
	<% if @store.image.exists? %>
		<center><%= image_tag @store.image.url(:banner), :class => "banner" %></center>
		<br />
	<% end %>
	<%= @store.description %>
	<br />
	<br />
	<!-- Begin Store Ratings Implementation -->
	<div class="average_rating" style="<% if @store.avg_rating == 0 %>display:none;<% end %>">
		Average rating: <div id="average_rating" style="display:inline;"><%= @store.avg_rating_str %>.</div>
		<br />
		<br />
	</div>
	
	<% if !(user_signed_in? and current_user.stores.include?(@store)) %>
		<% form_id = "store_#{@store.id}_rating" %>
		<% if user_signed_in? %>
			<% user_id = current_user.id %>
		<% else %>
			<% user_id = -1 %>
		<% end %>
		Your rating:
		<%= form_for @store.ratings.find_by(user_id: user_id) || @store.ratings.new, :html => {:id => form_id, :class => "star_rating_form"} do |f| %>
			<%= f.hidden_field :store_id, :value => @store.id %>
			<% if user_signed_in? %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
			<% end %>	
			<%= f.hidden_field :stars, :id => form_id + "_stars" %>
		<% end %>
		<% (1..5).each do |i| %>
			<li class="rating_star" id="<%= form_id %>_<%= i %>" data-stars="<%= i %>" data-form-id="<%= form_id %>"></li>
		<% end %>
		<br />
		<br />
	<% end %>
	<!-- End Store Ratings Implementation -->
	
	<% if user_signed_in? and current_user.stores.include?(@store) %>
		<%= link_to 'Edit', edit_store_path(@store) %>
	<% else %>
		<%= link_to 'Leave a Review', new_store_review_path(@store) %>
	<% end %>

 

	<% if !@store.reviews.empty? %>
		<br />
		<br />
		<b>Customer Feedback</b>
  		<% @store.reviews.each do |review| %>
			<br />

			<br />

			<b> <%= review.user.name %> </b>

  			<br />

  			<%= review.content %>

  			<br /> 

  			<% 
				p = review.price
				if (p == 4)
			%>
  				Price range: <font color = #FCC919>$$$$</font>
  			<%	elsif (p == 3) %>
  				Price range: <font color = #FCC919>$$$</font>
  			<%	elsif (p == 2) %>
  				Price range: <font color = #FCC919>$$</font>
  			<%	else %>
  				Price range: <font color = #FCC919>$</font>
  			<% end %>	
  			<br />
  			<% up_count = review.uservotes.upcount(review.id) %>
			<% if up_count != 0 %>
				<span style="color: green">+<%= up_count %></span>
				<br />
			<% end %>

  			<% if user_signed_in? and (current_user.is_admin? or current_user.reviews.include?(review)) %> 
  				<br />
  				<%= link_to 'Edit', edit_store_review_path(@store, review) %> &middot;
        		<%= link_to 'Delete', review, :confirm => 'Remove this Review?', :method => :delete %>
        		<br />
  			<% end %> 

      		<% if user_signed_in? %>
				<br />
      			<%= button_to "This Review Was Helpful", { :controller => 'uservotes',
                          :action => 'upvote',
                          :pid => current_user.id,
                          :rid => review.id,
                          :sid => @store.id,
                          :method => 'create' } %>

      		<% end %>
				<% if !review.tags.empty? %>
  					<br />
					<small><i>Tags: <% review.tags.each do |tag| %>
  					<%= tag.name %>
  				<% end %></i></small>
			<% end %>
 		<% end %>
	<% end %>
<br />
<br />
<%= link_to 'Back', root_path %>

