<h3>User List</h3>
<% if current_user.is_admin? %>
	<table border ="1" >
  		<tr>
  			<th> First Name </th>
  			<th> Last Name </th>
  			<th> E-mail </th>
  			<th> Role </th>
  			<th> Last Sign-in </th>
  		</tr>
  	
  	<% @users.each do | user | %>

		<tr>

  			<td> <%= user.name %> </td>
  			<td> <%= user.lname %> </td>
  			<td> <%= user.email %> </td>
  			<td> <%= user.role %> </td>
  			<td> <%= user.last_sign_in_at %> </td>
        <td> <%= link_to "delete" %> </td>
        <td> <%= link_to "update" %> </td>

		</tr>

           

	<% end %>
	</table>

<% end %>


