<h3 align ="center" >User Accounts Management</h3>
	<table id = "stores" >
  		<tr>
  			<th> First Name </th>
  			<th> Last Name </th>
  			<th> E-mail </th>
  			<th> Role </th>
  			<th> Last Sign-in </th>
  		</tr>
  	
  	<% @users.each do | user | %>

		<tr>

  			<td> <%= user.name %> </td>
  			<td> <%= user.lname %> </td>
  			<td> <%= user.email %> </td>
  			<td> <%= user.role %> </td>
  			<td> <%= user.last_sign_in_at %> </td>
        <td> <%= link_to "delete", { :controller => 'users',
                                     :action     => 'delete',
                                     :id         =>  user.id }, 
																		 :confirm => 'Are you sure you want to delete this user?' %> </td>


        <td> <%= link_to "edit", { :controller => 'users',
                                   :action     => 'edit',
                                   :id         => user.id
                                   } %> </td>

		</tr>

        

	<% end %>
	</table>


