<% if @user.stores.empty? %>
	<h3>You don't have any stores yet!</h3>
<% end %>

<% @user.stores.each do | store | %>
<tr>
  <b><td><%= store.name %></td></b>
  	<br />
		<td><%= link_to 'Show', store_path(store) %></td> &middot;
		<td><%= link_to 'Edit', edit_store_path(store) %></td> &middot;
		<td><%= link_to 'Delete', store, :method => :delete, :data => { :confirm => "Are you sure you\'d like to delete #{store.name}?" } %></td>
	<br />
</tr>
<br />
<% end %>
<br />
<%= link_to 'New Store', new_store_path %>
