<h3>Home</h3>

<% if signed_in? %>
	Welcome back <%= @name %>! You are <% if @role == 'admin' %>an<% else %>a<% end %> <%= @role %>. 
	<br />
<% else %>
	Welcome to Triton Yelp!
	<br />
<% end %>

	What are you looking for? 
<%= render 'store_search' %>

<div>

<h4 align="center">Best of Yelp Stores </h4>
<table id='stores'>
	<thead>
	  <tr>
		<th> Store Name </th>
		<th> Average Rating </th>
		<th> Average Price </th>
		<th> Location </th>		
	  </tr>
	</thead>


	<% @stores.sort_by{ |store| store.avg_rating || 0}.reverse.each do |store| %>
	<tbody>
		<td><%= link_to store.name, store %></td>
		<td> <%= store.avg_rating %> </td>
		<% ################################ Calculate avg_price
		sum = 0.0
		c = 0.0
		store.reviews.each do |review|
			if review[:price] != nil
				sum += review[:price]
				c += 1
			end
		end
		if c != 0
			store.avg_price = "%.2f" % (sum/c)
		else
		end %>
		<td> $<%= store.avg_price %> </td>
		<td> (<%= store.x_coord %>, <%= store.x_coord %>) </td>	
	</tbody>
<% end %>
</table>

</div>














