
<%= render 'store_search' %>

<div class="stores">

	<h4 align="center">Best of Yelp Stores </h4>
	<% @stores.sort_by{ |store| store.avg_rating || 0 }.reverse.each.with_index do |store, index| %>

		<div class="store">
			
			
			<% if store.image.exists? %>
				<div class="store_thumb"><%= link_to (image_tag store.image.url(:search_thumb)), store %></div>
			<% end %>
			<div class="store_title"><b><%= link_to store.name, store %></b> <% if store.avg_rating != 0 %><i>(<%= store.avg_rating_str %> out of 5)</i><% end %></div>
			<br />
			<%= (store.description || "").truncate(240, :omission => " ...") %>
			<br />
			<% if !store.tags.empty? %>
				<div class="store_tags">Tags: 
					<%= (store.display_tags 3).html_safe %>
				</div>
			<% end %>
			<!-- Begin Share Div -->
			<div class="sharing">
				<div class="fb-like share_icon" data-href="<%= store_url(store) %>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-action="recommend"></div>
				<a href="http://www.reddit.com/submit?url=<%= store_url(store) %>"><img class="share_icon" src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /></a>
				<a id="share_icon" href="http://twitter.com/share" data-url="<%= store_url(store) %>" 
				<% if !store.description.nil? %>data-text="<%= store.description.truncate(120, :omission => "...") %><% end %>" class="twitter-share-button" data-hashtags="TritonYelp"data-lang="en">Tweet</a>
			</div>
			<!-- End Share Div -->

		</div>
		<div class="clear"></div>
		
		<% if index < @stores.length - 1 %>
		<div class="seperator"></div>
		<br />
		<% else %>
		<br />
		<% end %>


	<% end %>

<!--
<a class="twitter-timeline"  href="https://twitter.com/UCSanDiego" data-widget-id="274166827519713280">Tweets by @UCSanDiego</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->

</div>
















