<%= form_for([@store, @review]) do |f| %>
	<% if @review.errors.any? %>
		<div id="error_explaination">
			<h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved: </h2>

			<ul>
				<% @review.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<% if @store.errors.any? %>
		<div id="error_explaination">
			<h2><%= pluralize(@store.errors.count, "error") %> prohibited this review from being saved: </h2>

			<ul>
				<% @store.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<%= f.label :content, 'Content (must be between 60-1000 chars):' %>
<div class="field">
    <%= f.text_area :content, :cols => '75%', :rows=> '10%' %>
</div>
<br />
<div class="field">
    How expensive would you rate <%= @store.name %>? 
    <br />
    <%= f.select :price, [[1,1],[2,2],[3,3],[4,4]]%> (1=cheap, 4=expensive)
</div>
<br />
<%= f.label :tag_list %>
<br />
<%= f.text_field :tag_list %>
<br />
<br />

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
