<%= form_for([@store, @review]) do |f| %>
	<% if @review.errors.any? %>
		<div id="error_explaination">
			<h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved: </h2>

			<ul>
				<% @review.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

<div class="field">
	<%= f.text_area :content, :cols => '75%', :rows=> '10%' %>
</div>


<%@tags.each_key do |tag| %>
	<%=check_box_tag "review[tag_names][]", tag, false%>
	#<%=tag%><br>
<%end%>


<div class="actions">
	<%= f.submit %>
</div>
<% end %>
