<header>
	<%= link_to image_tag("logo.png", :alt => "Triton Yelp", :class => "round"), root_path %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<% if !user_signed_in? %>

			<li><%= link_to "Register", '/users/sign_up' %></li>
			<li><%= link_to "Sign In", '/users/sign_in' %></li>
			<% else %>
				<li><%= link_to "Account", edit_user_path(current_user) %></li>
				<% if current_user.is_admin? %>
					 <li><%= link_to "Account List", '/users/index' %></li>
				<% end %>
				<% if current_user.is_merchant? or current_user.is_admin? %>
					<li><%= link_to "My Stores", user_stores_path(current_user) %></li>
				<% end %>
			<li><%= link_to "Sign Out", '/users/sign_out' %></li>
			<% end %>
			
		</ul>
	</nav>
</header>
